* {
  font-family: Arial, Helvetica, sans-serif;
  text-decoration: none;
}

body {
  background-color: #F4F4F4;
}

header {
  display: block;
}
header h1 {
  width: 90%;
  margin-bottom: 20px;
}
header nav {
  font-size: 120%;
  width: 90%;
}
header nav a {
  font-size: 1em;
  font-family: Arial;
  font-weight: bold;
}
header nav ul {
  padding: 0;
  margin: 0;
  font-size: 0px;
}
header nav li {
  display: inline-block;
  margin: 0;
  padding: 10px 30px 10px 30px;
  font-size: 18px;
}
header nav li.active {
  background: #00688b;
}
header nav li {
  background: #98cce6;
}
header nav :link {
  color: #000;
  text-decoration: none;
}
header nav :visited {
  color: #000;
  text-decoration: none;
}
header nav li.active :link {
  color: #FFF;
  text-decoration: none;
}
header nav li.active :visited {
  color: #FFF;
  text-decoration: none;
}

.main-map {
  position: absolute;
  margin: 10px;
  width: 100%;
  max-width: 1300px;
}
.main-map ul {
  list-style-type: none;
}

article {
  display: block;
  max-width: 800px;
  margin: 10px;
}
article #title {
  border-bottom: 1px solid #EEE;
}
article h1 {
  font-size: 2em;
  margin: 5px;
}
article h2 {
  font-size: 1.5em;
  margin: 5px;
  margin-left: 15px;
}
article h4 {
  font-size: .75em;
  margin: 5px;
  margin-left: 15px;
}
article p {
  text-indent: 1em;
}

figcaption {
  text-size: 10px;
}

/*
  Why is the width not working properly?
*/
code, pre {
  background-color: #FFFFFF;
  width: 75%;
  max-width: 600px;
  margin: 10px;
  margin-left: 5%;
  margin-right: auto;
  padding: 10px;

  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
  line-height: 1.45em;
  border-radius: 3px;
}
